<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="Ice cream, shop" />
    <meta name="description" content="Ice cream online shop" />
    <meta name="author" content="Esti Zeiger, Tamar Packter & Efrat Luria" />

    <title>@ViewData["Title"] - Coldbergs</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <div class="hero_area">
        <div class="hero_bg_box">
            <img src="../images/national_icecream.jpg" alt="">
        </div>

        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">

                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand " asp-controller="Manager" asp-action="Index"> Coldbergs </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  ">
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Manager" asp-action="ManagerHome">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Manager" asp-action="Menu">Icecream Menu</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Manager" asp-action="Prediction">Prediction &Aacute; Analysis</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer_container">
        <div class="footer_bg_box">
            <img src="../images/footer_bg.jpg" alt="">
        </div>

        <!-- info section -->
        <section class="info_section ">
            <div class="info_container ">
                <div class="container">
                    <div class="info_contact ">
                        <a asp-controller="Consumer" asp-action="Contact" class="link-box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location: 198 Ben Yehuda st. Tel Aviv, Israel
                            </span>
                        </a>
                        <a asp-controller="Consumer" asp-action="Contact" class="link-box">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +972587272201
                            </span>
                        </a>
                        <a asp-controller="Consumer" asp-action="Contact" class="link-box">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                estizeiger@gmail.com
                            </span>
                        </a>
                    </div>
                    <div class="social_container">
                        <div class="heading_container heading_center">
                            <h2>
                                Follow Us
                            </h2>
                            <p class="col-md-6 col-lg-5 mx-auto px-0">
                                We are active in Instegram, facebook, twitter and youtube.
                                We post daily new updates and videos about our new icecreams!
                            </p>
                        </div>
                        <div class="social-box">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.youtube.com/">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </section>

        <!-- end info section -->
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By: ETE- Esti Zeiger, Tamar Packter & Efrat Luria
                </p>
            </div>
        </footer>
        <!-- footer section -->

    </div>

    <!--#region script-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- jQery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgHkSOJXcXH_N6iaFzJj8i8zpTO9W2p_Y&callback=myMap"></script>*@
    <!-- End Google Map -->
    <!--#endregion-->


</body>
</html>
