@model IceCreamProject.Models.IcecreamTaste

@{
    ViewData["Title"] = "Home Page- Manager";
    Layout = "~/Views/Shared/_Layout3.cshtml";

    var imageError = ViewData["ImageError"];

}

<div class="heading_container heading_center ">
    <h1>Appload Image File</h1>
    <h4>appload an image of your new icecream</h4>
    <p></p>
    <p></p>
    <p></p>
</div>

<div class="file-drop-area">
    <span class="fake-btn">Choose files</span>
    <span class="file-msg">or drag and drop files here</span>
    <input class="file-input" type="file" multiple id="logoupload">
</div>

<p></p>
<p></p>
<p></p>

<h3 style="color:black">@ViewBag.text</h3>
<h3 id="texti" style="color:black"></h3>

<p></p>
<p></p>
<p></p>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            let onchange = function () {
                let _this = $(this)[0];
                let frmdata = new FormData();
                frmdata.append('File', _this.files[0]);
                $("#logoupload").change(function () {
                    readURL(this);
                });
                let onSuccess = function (model) {
                    console.log(model);
                    $('.notification').html("<div class='alert alert-success alert-dismissible fade show' role='alert'><strong>Logo&nbsp;</strong>Sucessfully uploaded!!!<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                };
                $.ajax({
                    method: 'POST',
                    url: '/manager/index',
                    data: frmdata,
                    processData: false,
                    contentType: false,
                }).done(onSuccess);
            };
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#displayimage').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(document).on('change', 'input[type=file]', onchange);
        });
    </script>

    <script>
        var a = "@imageError";
        if (a == "true") {
            document.getElementById('texti').innerText = "Error with picture";
            alert("the image is not ice cream");
        }

    </script>
}