
@{
    ViewData["Title"] = "Manager Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="heading_container heading_center ">
    <h1>Manager Home</h1>
    <h4>Edit icecream menu, and see predictions and consumption analysis!</h4>
</div>