@{
    ViewData["Title"] = "Oops page";
}

<div class="heading_container heading_center ">
    <h1>Oops! </h1>
    <h4>Error- there was a mistake in the data you inserted.</h4>
    <h4>Return to last page and try again </h4>
</div>

<center>
    <img src="~/images/icecreams/oopsiPic.jpeg" width="400" length="400"/>
</center>
