@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- product section -->

<section class="product_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center ">
            <h2 class="">
                Our Ice Creams
            </h2>
            <p class="col-lg-8 px-0">
                We have a variety of flavors, and we always like to explore new colors, tastes and flavors combination.
            </p>
            <p>
                We invite you to choose the icecream of your dreams!
            </p>
            <p>
                🍦 🍦 🍦
            </p>
        </div>
        <div class="product_container">
            <div class="carousel-wrap ">
                <div class="">
                    <div class="product_owl-carousel owl-carousel">
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="../images/i1.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="../images/i2.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="../images/i3.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="../images/i4.png" class="pl-4" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="../images/i5.png" class="pl-2" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                See More
            </a>
        </div>
    </div>
</section>

<!-- product section ends -->
