@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 ml-auto">
                            <div class="detail-box">
                                <h1>
                                    Welcome to our <br>
                                    Ice Cream Shop
                                </h1>
                                <p>
                                    our Ice Cream shop is a small shop with a big heart. We make our products from the best, fresh ingredients.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 ml-auto">
                            <div class="detail-box">
                                <h1>
                                    Welcome to our <br>
                                    Ice Cream Shop
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio omnis fugit, sed tempora praesentium commodi error, hic recusandae repudiandae neque ad molestias, atque veritatis labore quae eveniet autem in
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 ml-auto">
                            <div class="detail-box">
                                <h1>
                                    Welcome to our <br>
                                    Ice Cream Shop
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio omnis fugit, sed tempora praesentium commodi error, hic recusandae repudiandae neque ad molestias, atque veritatis labore quae eveniet autem in
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-6 col-lg-5 ml-auto">
                <div class="carousel_btn-box">
                    <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
    </div>


<!-- product section -->

<section class="product_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center ">
            <h2 class="">
                Our Ice Creams
            </h2>
            <p class="col-lg-8 px-0">
                We have a variety of flavors, and we always like to explore new colors, tastes and flavors combination.
            </p>
            <p>
                We invite you to choose the icecream of your dreams!
            </p>
            <p>
                🍦 🍦 🍦
            </p>
        </div>
        <div class="product_container">
            <div class="carousel-wrap ">
                <div class="">
                    <div class="product_owl-carousel owl-carousel">
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/i1.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/i2.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/i3.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/i4.png" class="pl-4" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="images/i5.png" class="pl-2" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                See More
            </a>
        </div>
    </div>
</section>

<!-- product section ends -->


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box pr-md-3">
                    <img src="../images/about-img2.png" class="box_img" alt="about img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box pl-md-3">
                    <div class="heading_container">
                        <h2 class="">
                            About Us
                        </h2>
                    </div>
                    <p class="detail_p_mt">
                        Our icecream shop was found in 1956, by Meir Sandman.
                    </p>
                    <p>
                        Meir and his wife Gila started making icecream at home, when they moved to Israel from England. The neighbours liked their icecream, and very soon they opened their own shop here, at Ben Yehuda street, in Tel Aviv.
                    </p>
                    <p>
                        Since then, the shop grew and developed. The current manager is the grand-daughter of Meir and Gila.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about section ends -->

<!-- about section -->

<section class="about_section about_section2 layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="detail-box pr-md-3">
                    <div class="heading_container">
                        <h2 class="">
                            Have A Great Treat
                        </h2>
                    </div>
                    <p class="detail_p_mt">
                        Culpa sint doloremque, suscipit consequuntur ut ea cum sapiente minus unde repudiandae at inventore quibusdam esse ad, non ducimus. Ut debitis placeat eveniet ad porro cum dignissimos atque pariatur doloremque?
                    </p>
                    <a href="about.html" class="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box pl-md-3">
                    <img src="images/about-img3.png" class="box_img" alt="about img">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about section ends -->

<!-- contact section -->
<section class="contact_section layout_padding2">

    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container pr-md-3">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" placeholder="Your Email" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-3">
                    <div class="map_container ">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->
<!-- client section -->

<section class="client_section layout_padding">

    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Testimonial
            </h2>
        </div>
        <div class="col-md-9 col-lg-7 mx-auto px-0">
            <div class="client_container">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span>
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h4>
                                        Alita Mark
                                    </h4>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                                        believable. If you There are many variations of passages of Lorem Ipsum available
                                    </p>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h4>
                                        Alita Mark
                                    </h4>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                                        believable. If you There are many variations of passages of Lorem Ipsum available
                                    </p>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h4>
                                        Alita Mark
                                    </h4>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                                        believable. If you There are many variations of passages of Lorem Ipsum available
                                    </p>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->