@model IceCreamProject.Models.User

@{
    ViewData["Title"] = "Manager Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Html.Hidden("RedirectTo", Url.Action("Index", "Manager"));

}

<div class="heading_container heading_center ">
    <h1>Manager Login</h1>
    <h4>a manager? login here to edit menu and see statistics!</h4>
</div>

<section class="contact_section">

    <div class="container" style="background-color:white">

        <div class="row">
            <div class="col-md-6" style="background-color: lightblue">
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="background-color: lightblue">
                <div class="form_container pr-md-3">
                    <form action="Login1" method="get">
                        <input type="text" name="Username" placeholder="user name" />
                        <input type="text" name="Password " placeholder="password" />
                        <button>
                            LOGIN
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../images/about-img.png" class="box_img" alt="login img" width="400" height="400">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="background-color: lightblue">
                <p></p>
            </div>
        </div>
    </div>
</section>

<script>
    function checkManager() {
        if (document.getElementById("username").textContent == manager[0]) {
            if (document.getElementById("password").textContent == manager[1]) {
                var url = $("#RedirectTo").val();
                location.href = url;
            }
            else { document.getElementById("wrongPassword").innerHTML = "wrong password"; }
        }
        else { document.getElementById("wrongName").innerHTML = "wrong username"; }
    }
</script>