@model IceCreamProject.Models.User

@{
    ViewData["Title"] = "Manager Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Html.Hidden("RedirectTo", Url.Action("Index", "Manager"));

}

<div class="heading_container heading_center ">
    <h1>Manager Login</h1>
    <h4>a manager? login here to edit menu and see statistics!</h4>
</div>

<section class="contact_section">

    <div class="container" style="background-color:white">

        <div class="row">
            <div class="col-md-6" style="background-color: lightblue">
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="background-color: lightblue">
                <div class="form_container pr-md-3">
                    <form asp-controller="Consumer" asp-action="Login1">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../images/about-img.png" class="box_img" alt="login img" width="400" height="400">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="background-color: lightblue">
                <p></p>
            </div>
        </div>
    </div>
</section>

<script>
    function checkManager() {
        if (document.getElementById("username").textContent == manager[0]) {
            if (document.getElementById("password").textContent == manager[1]) {
                var url = $("#RedirectTo").val();
                location.href = url;
            }
            else { document.getElementById("wrongPassword").innerHTML = "wrong password"; }
        }
        else { document.getElementById("wrongName").innerHTML = "wrong username"; }
    }
</script>