@{
    ViewData["Title"] = "Manager Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var manager = (List<string>)ViewData["Message"];

    Html.Hidden("RedirectTo", Url.Action("Index", "Manager"));

}

<section class="contact_section layout_padding2">
    <div class="container">
        <div class="heading_container">
            <h2>
                Manager Login
            </h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form_container pr-md-3">
                    <div>
                        <div class="container">
                            <label>Username : </label>
                            <div>
                                <input type="text" id="username" placeholder="Enter Username" name="username" required>
                            </div>
                            <label id="wrongName"></label>
                            <label>Password : </label>
                            <div>
                                <input type="password" id="password" placeholder="Enter Password" name="password" required>
                            </div>
                            <label id="wrongPassword"></label>
                            <div>
                                <button id="loginBtn" onclick="checkManager()">Login</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="img-box">
                    <img src="../images/about-img.png" class="box_img" alt="login img" width="400" height="400">
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    function checkManager() {
        if (document.getElementById("username").textContent == manager[0]) {
            if (document.getElementById("password").textContent == manager[1]) {
                var url = $("#RedirectTo").val();
                location.href = url;
            }
            else { document.getElementById("wrongPassword").innerHTML = "wrong password"; }
        }
        else { document.getElementById("wrongName").innerHTML = "wrong username"; }
    }
</script>