

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p></p>
</div>
<div class="alert-success">
    <p> alert-success</p>
</div>
<div class="align-baseline">
    <p> align-baseline</p>
</div>
<div class="align-content-between">
    <p> align-content-between</p>
</div>
<div class="box-shadow">
    <p> box-shadow</p>
</div>
<div class="custom-checkbox">
    <p> custom-checkbox</p>
</div>
<div class="dropdown-divider">
    <p> dropdown-divider</p>
</div>

<div class="progress-bar-striped">
    <p>lalala </p>
</div>
